/* .hero {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1rem solid white;
    border-radius: 13px;
   

  
} */
/* #hero-id{
    background-image: url('../assets/image2.jpeg'); */
    /* position: absolute; */
    /* background-color: rgb(9, 63, 63); */
    /* background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-mid {
    width: 100%;
    height: 70vh; */
    /* position: relative; */
/* } */





/* img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} */

/* .hero-text { */
    /* position: absolute; */
    /* top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: chocolate; */
  

/* }
.hero-text h1 { */
    /* position: relative; */
    /* font-size: 2rem; */
    /* font-weight: 800; */
    /* background: lightblue;
    color: white;
    width: 40%; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
/* }

.hero-text p {
    font-size: 1.3rem;
    color: #fff;
    margin-top: 10px;
    background: lightblue;

}


.hero-text .show {
    text-decoration: none;
    background: blue;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: grey;
}

.hero-text .hide {
    display: none;
}

@media screen and (max-width: 55px) {
    .hero-text h1 {
        padding: 10px 20px;
    }

    .hero-text p1 {
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
        /* color: chartreuse; */
    /* }

    .hero-text .show {
        padding: 6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;
        background: red;

    }
}  */