
*{
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
  /* background: #301934; */
  /* border: 1rem solid grey; */
  padding: 1px;
  color: white;
  background-color: purple;
  

}

.App {
  font-family: sans-serif;
  text-align: center;
}